
<div class="top-bar">
    <div class="container">
        <ul class="nav">
            <a href=""><img src="" alt="logo"></a>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>