
<section class="top-bar">
    <div class="logo">
        <img src="/../../assets/img/icons/header-icon.png" alt="Logo">
    </div>
    <div class="nav-bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</section>