{% include 'layout/parts/admin-header.twig' %}

<head>
    <link rel="stylesheet" href="/../../assets/css/admin-css/workspace.css">
</head>
<body>
    <div class="container">
        <h1>Kies een taak</h1>
        <a href="/admin/workspace/add-clothing">Add clothing</a>
        <a href="/admin/workspace/edit-clothing">Edit clothing</a>
        <a href="/admin/workspace/delete-clothing">Delete clothing</a>
        <a href="/admin/workspace/find-order">Search order</a>
        <a href="/admin/workspace/edit-order">Edit order</a>
    </div>
</body>
</html>