
{% include 'layout/parts/header.twig' %}

<head>
    <link rel="stylesheet" href="/../../assets/css/index.css">
</head>

<body>
    {% include 'layout/parts/navigation.twig' %}

    <section id="intro">
        <div class="container">
            <div class="main-grid">
                <div class="item1">
                    <div class="text">
                        <h1>trimbr</h1>
                        <h2><strong>Meer</strong> voor <br><strong>Minder</strong></h2>
                    </div>
                </div>
                <div class="item2">
                    <div class="go-to">
                        <a href="#preview">Check it out!</a>
                    </div>
                </div>
                <div class="item3">
                    <img src="/../../assets/img/banners/suit-banner.png" alt="banner">
                </div>
            </div>
        </div>
    </section>

    <section id="preview">

    </section>

    {% include 'layout/parts/footer.twig' %}
</body>
</html>